$banner-height: 40px;

$font-smaller: 12px;
$font-small: 14px;
$font-normal: 16px;
$font-large: 18px;
$font-larger: 20px;

$color-darker: #333333;
$color-dark: #666666;
$color-normal: #999999;
$color-light: #cccccc;
$color-lighter: #eeeeee;
$color-primary: #1890ff;
$color-success: #00cd65;
$color-warning: #faad14;
$color-error: #ff4d4f;


//$theme-white: #ffffff;
//$color-text-1: #333333; //文1
//$color-text-2: #666666; //文2
//$color-text-3: #999999; //文3
//$color-text-4: #bfbfbf; //文4（极少）
//$color-text-5: #6e7480; //辅助文字
//$color-disabled: #bfbfbf; //禁用色（常规）
//$color-bg: #d6d6d6; //轻底色
//$color-bg-light: #f7f7f7; //超轻底色
//$color-border: #dfe3eb; //轻描边
//$color-line: #f4f4f4; //分割线1
//$color-red: #ff4d4f;
//$color-red-hover: #ff7875;
//$color-red-text: #cc3f3e;
//$color-red-bg: rgba(255, 77, 79, 0.1);
//$color-blue: #1890ff;
//$color-blue-hover: #40a9ff;
//$color-blue-text: #1373cc;
//$color-blue-bg: rgba(24, 144, 255, 0.1);
//$color-yellow: #faad14;
//$color-yellow-hover: #ffc53d;
//$color-yellow-text: #c98b10;
//$color-yellow-bg: rgba(250, 173, 20, 0.1);
//$color-green: #00cd65;
//$color-green-hover: #33d784;
//$color-green-text: #00a451;
//$color-green-bg: rgba(0, 205, 101, 0.1);